@import '../../styles/normalize.css';
@import '../../styles/_typography.scss';
@import '../../styles/_colors.scss';

.PAGE {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.PAGE-ABSOLUTE {
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}